body {
    font-size: 10pt;
    background-color: #ededed;
    padding: 0px;
    margin: 10px;
}

h1 {
    padding: 5px;
    margin: 5px 0px 0px 0px;
    font-size: 13pt;
    text-align: center;
}

h2 {
    padding: 2px;
    margin: 0px;
    font-size: 11pt;
    text-align: center;
}

li {
    margin:5px 0px 5px 0px;
    font-size: 9pt;
}

ul {
    padding-left: 30px;
}
a {} 
a img {
    color: #FFFFFF;
    border-width: thin;
    border-color: #c9c9c9;
    border-style: solid;
    border-radius: 2px;
    text-decoration: none;
}
div{
    margin: 2px;
}
footer {
    padding-top: 20px;
    margin: 0px;
    font-size: 8pt 
    text-align: center;
}

.summary {
    font-size: 9pt;
    color: #606060;
    display: block;
    clear: left;
}

.logos
{
    margin: 20px;
    text-align: center;
}

.date {
    font-size: 9pt;
    color: #606060;
    display: block;
    text-align: center;
}