<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shouldit.proxy.lib"
    android:versionCode="0400201"
    android:versionName="2.01" >

    <!-- Scheme for version codes: ##@@$$$ , using:
    ## - the first two digits for the API Level,
    @@ - the second and third digits for the minimum and maximum screen size (1 - 4 indicating each of the four sizes) or to denote the texture formats
    $$$ - the last three digits for the app version. -->

    <uses-sdk 
        android:minSdkVersion="4" 
        android:targetSdkVersion="15" />

</manifest>