body {
	font-size: 10pt; 
}

h1 { 
	margin-left: 0px; 
	font-size: 14pt; 
}

h2 { 
	margin-left: 0px; 
	font-size: 12pt; 
}

li {
    margin-left: 0px;
    font-size: 9pt;
}

ul { 
    padding-left: 30px 
}

a {
	color: #33B5E5;
}

.summary {
    font-size: 9pt;
    color: #606060;
    display: block;
    clear: left;
}

.date {
    font-size: 9pt;
    color: #606060;
    display: block;
}
